{% extends "base.html" %}

{% block content %}


<button id="scan-button">Scan</button>
    
<div id="scanner-container" style="display: none;">
    <div id="interactive" class="viewport"></div>
</div>

<div id="result"></div>

<form method="POST">
    <input type="text" name="barcode_number" placeholder="Enter barcode manually">
    <button type="submit">Search</button>
</form>

{% if nutrition_info %}
    <div>Nutrition Info: {{ nutrition_info }}</div>
{% elif error %}
    <div>{{ error }}</div>
{% endif %}


{% endblock %} 